body {
  margin: auto;
  background-color: black;
  color: white;
}

.box-header {
  /*width: 940px;*/
  margin: auto;
  display:flex;
  justify-content: space-around;
  padding: 20px;
}

/*.box-content {
  display:flex;
  justify-content: center;
}*/

.banner {
 /* width: 940px;*/
  height: 250px;
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%), url("../public/banner.webp");
  background-size: cover;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
}

.banner-titulo {
  font-size: 36px;
  text-align: center;
}

.banner-subtitulo {
  font-size: 20px;
  text-align: center;
}

.imgGrip {
  border-radius: 50%;
  border: 4px solid rgb(73, 73, 73);
}

.gallery-paris, .gallery-berlin {
  /* width: 800px; */
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0px;
  font-size: 15px;
}

h3 {
  margin: 0px;
  font-size: 26px;
  padding-bottom: 20px;
}

.gallery-paris-pics, .gallery-berlin-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery-paris-pics div, .gallery-berlin-pics div {
  /*width: 180px;
  height: 200px;*/
}

/*PARIS*/
.gallery-paris-pics .pic {
  /*background-image: url('../public/prueba1.webp');
  background-size: cover;
  border: 1px solid #18c11d;*/
  text-align: center;
}

.gallery-paris-pics .title {
  font-size: 14px;
}

/*BERLIN*/
.gallery-berlin-pics .pic1 {
  background-image: url('../public/prueba1.webp');
  background-size: cover;
}

.gallery-berlin-pics .pic2 {
  background-image: url('../public/prueba1.webp');
  background-size: cover;
}

.gallery-berlin-pics .pic3 {
  background-image: url('../public/prueba1.webp');
  background-size: cover;
}

.gallery-berlin-pics .pic4 {
  background-image: url('../public/prueba1.webp');
  background-size: cover;
}

/* unvisited link */
.pic a:link {
  color: rgb(252, 252, 252);
  text-decoration: none;
}

/* visited link */
.pic a:visited {
  color: rgb(235, 122, 30);
  text-decoration: none;
}

/* mouse over link */
.pic a:hover {
  color: rgb(230, 62, 146);
  text-decoration: none;
}

/* selected link */
.pic a:active {
  color: rgb(0, 255, 4);
  text-decoration: none;
}

/*FOOTER*/
.box-footer {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.box-footer h3 {
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* Botones Siguiente y Anterior */
.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.siguiente {
  background-color: #4CAF50; /* Verde */
  color: white;
}

button.siguiente:hover {
  background-color: #45a049; /* Verde más oscuro */
}

button.anterior {
  background-color: #f44336; /* Rojo */
  color: white;
}

button.anterior:hover {
  background-color: #d32f2f; /* Rojo más oscuro */
}

.full-page-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el viewport sin distorsionarse */
  z-index: -1;
}

.title-single-character {
  font-size: 8rem; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold; /* Hace que el texto sea más grueso */
  color: #ffffff; /* Ajusta el color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 20px 0; /* Ajusta los márgenes superior e inferior */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto */
}

.text-single-character {
  font-size: 2rem; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold; /* Hace que el texto sea más grueso */
  color: #ffffff; /* Ajusta el color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 10px 0; /* Ajusta los márgenes superior e inferior */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto */
}

input {
  width: 80%;
  padding: 10px; /* Ajusta el padding según tus necesidades */
  margin-bottom: 20px; /* Espacio en la parte inferior */
  font-size: 1.5rem; /* Tamaño del texto aumentado */
  box-sizing: border-box;
  display: block; /* Asegura que el input se comporte como un bloque */
  margin-left: auto; /* Auto margen en la izquierda */
  margin-right: auto; /* Auto margen en la derecha */
}